@tailwind base;
@tailwind components;
@tailwind utilities;

.metallic-text {
  background: linear-gradient(to bottom, #ffffff 0%, #c0c0c0 50%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.metallic-text:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

